## **Crime Rate Prediction using machine learning models.**

For prediction, we will use following algorithms:

Linear Regression

Lasso Regression

Ridge Regression

By using the above algorithms, we will firstly explore the data that we have and check for any null or missing values. If found then we'll clean tha data and then visualize it for better understanding and draw insights.
Then we'll proceed by data training i.e. spliting data into training and testing data.Then train our model by providing training data and once the model will be trained, we will perform prediction for the test data.
At last, we will evaluate the performance of these algorithmns by error check and accuracy check.

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/content/dataset.csv')
data.head()

,States/UTs,Murder,Attempt to commit Murder,Culpable Homicide not amounting to Murder,Attempt to commit Culpable Homicide,Rape,Custodial Rape,Custodial_Gang Rape,Custodial_Other Rape,Rape other than Custodial,...,Offences promoting enmity between different groups,Promoting enmity between different groups,"Imputation, assertions prejudicial to national integration",Extortion,Disclosure of Identity of Victims,Incidence of Rash Driving,HumanTrafficking,Unnatural Offence,Other IPC crimes,Total Cognizable IPC crimes
0,A&N Islands,5,10,2,1,19,0,0,0,19,...,0,0,0,0,0,152,0,2,91,556
1,A&N Islands,2,1,2,1,11,0,0,0,11,...,0,0,0,0,0,39,0,0,38,159
2,A&N Islands,1,0,0,0,2,0,0,0,2,...,1,1,0,0,0,7,0,0,12,31
3,A&N Islands,8,11,4,2,32,0,0,0,32,...,1,1,0,0,0,198,0,2,141,746
4,Andhra Pradesh,134,171,8,0,35,0,0,0,35,...,0,0,0,0,0,1038,0,0,3800,8376

In [3]:
data.shape

(838, 89)

Check for null values:

In [4]:
data.isnull().sum()

States/UTs                                   0
Murder                                       0
Attempt to commit Murder                     0
Culpable Homicide not amounting to Murder    0
Attempt to commit Culpable Homicide          0
                                            ..
Incidence of Rash Driving                    0
HumanTrafficking                             0
Unnatural Offence                            0
Other IPC crimes                             0
Total Cognizable IPC crimes                  0
Length: 89, dtype: int64

In [5]:
data.isnull().sum().sum()

0

## **Data Preparation & Training**

In [6]:
data.columns

Index(['States/UTs', 'Murder', 'Attempt to commit Murder',
       'Culpable Homicide not amounting to Murder',
       'Attempt to commit Culpable Homicide', 'Rape', 'Custodial Rape',
       'Custodial_Gang Rape', 'Custodial_Other Rape',
       'Rape other than Custodial', 'Rape_Gang Rape', 'Rape_Others',
       'Attempt to commit Rape', 'Kidnapping & Abduction_Total',
       'Kidnapping & Abduction', 'Kidnapping & Abduction in order to Murder',
       'Kidnapping for Ransom',
       'Kidnapping & Abduction of Women to compel her for marriage',
       'Other Kidnapping', 'Dacoity', 'Dacoity with Murder', 'Other Dacoity',
       'Making Preparation and Assembly for committing Dacoity', 'Robbery',
       'Criminal Trespass/Burglary', 'Criminal Trespass or Burglary',
       'House Trespass & House Breaking', 'Theft', 'Auto Theft',
       'Other Thefts', 'Unlawful Assembly', 'Riots', 'Riots_Communal',
       'Riots_Industrial', 'Riots_Political', 'Riots_Caste Conflict',
       'Riots_SC/STs Vs Non-SCs/STs', 'Riots_Other Caste Conflict',
       'Riots_Agrarian', 'Riots_Students', 'Riots_Sectarian', 'Riots_Others',
       'Criminal Breach of Trust', 'Cheating', 'Forgery', 'Counterfeiting',
       'Counterfeit Offences related to Counterfeit Coin',
       'Counterfeiting Government Stamp', 'Counterfeit currency & Bank notes',
       'Counterfeiting currency notes/Bank notes',
       'Using forged or counterfeiting currency/Bank notes',
       'Possession of forged or counterfeiting currency/Bank notes',
       'Making or Possessing materials for forged currency/Bank notes',
       'Making or Using documents resembling currency', 'Arson',
       'Grievous Hurt', 'Hurt', 'Acid attack', 'Attempt to Acid Attack',
       'Dowry Deaths', 'Assault on Women with intent to outrage her Modesty',
       'Sexual Harassment',
       'Assault or use of criminal force to women with intent to Disrobe',
       'Voyeurism', 'Stalking', 'Other Assault on Women',
       'Insult to the Modesty of Women', 'At Office premises',
       'Other places related to work', 'In Public Transport system',
       'Places other than 231, 232 & 233',
       'Cruelty by Husband or his Relatives',
       'Importation of Girls from Foreign Country',
       'Causing Death by Negligence', 'Deaths due to negligent driving/act',
       'Deaths due to Other Causes', 'Offences against State', 'Sedition',
       'Other offences against State',
       'Offences promoting enmity between different groups',
       'Promoting enmity between different groups',
       'Imputation, assertions prejudicial to national integration',
       'Extortion', 'Disclosure of Identity of Victims',
       'Incidence of Rash Driving', 'HumanTrafficking', 'Unnatural Offence',
       'Other IPC crimes', 'Total Cognizable IPC crimes'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 89 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   States/UTs                                                        838 non-null    object
 1   Murder                                                            838 non-null    int64
 2   Attempt to commit Murder                                          838 non-null    int64
 3   Culpable Homicide not amounting to Murder                         838 non-null    int64
 4   Attempt to commit Culpable Homicide                               838 non-null    int64
 5   Rape                                                              838 non-null    int64
 6   Custodial Rape                                                    838 non-null    int64
 7   Custodial_Gang Rape                                               838 non-null    int64
 8   Custodial_Other Rape                                              838 non-null    int64
 9   Rape other than Custodial                                         838 non-null    int64
 10  Rape_Gang Rape                                                    838 non-null    int64
 11  Rape_Others                                                       838 non-null    int64
 12  Attempt to commit Rape                                            838 non-null    int64
 13  Kidnapping & Abduction_Total                                      838 non-null    int64
 14  Kidnapping & Abduction                                            838 non-null    int64
 15  Kidnapping & Abduction in order to Murder                         838 non-null    int64
 16  Kidnapping for Ransom                                             838 non-null    int64
 17  Kidnapping & Abduction of Women to compel her for marriage        838 non-null    int64
 18  Other Kidnapping                                                  838 non-null    int64
 19  Dacoity                                                           838 non-null    int64
 20  Dacoity with Murder                                               838 non-null    int64
 21  Other Dacoity                                                     838 non-null    int64
 22  Making Preparation and Assembly for committing Dacoity            838 non-null    int64
 23  Robbery                                                           838 non-null    int64
 24  Criminal Trespass/Burglary                                        838 non-null    int64
 25  Criminal Trespass or Burglary                                     838 non-null    int64
 26  House Trespass & House Breaking                                   838 non-null    int64
 27  Theft                                                             838 non-null    int64
 28  Auto Theft                                                        838 non-null    int64
 29  Other Thefts                                                      838 non-null    int64
 30  Unlawful Assembly                                                 838 non-null    int64
 31  Riots                                                             838 non-null    int64
 32  Riots_Communal                                                    838 non-null    int64
 33  Riots_Industrial                                                  838 non-null    int64
 34  Riots_Political                                                   838 non-null    int64
 35  Riots_Caste Conflict                                              838 non-null    int64
 36  Riots_SC/STs Vs Non-SCs/STs                                       838 non-null    int64
 37  Riots_Other Caste Conflict                                        838 non-null    int64
 38  Riots_Agrarian                                                    838 non-null    int64
 39  Riots_Students                                                    838 non-null    int64
 40  Riots_Sectarian                                                   838 non-null    int64
 41  Riots_Others                                                      838 non-null    int64
 42  Criminal Breach of Trust                                          838 non-null    int64
 43  Cheating                                                          838 non-null    int64
 44  Forgery                                                           838 non-null    int64
 45  Counterfeiting                                                    838 non-null    int64
 46  Counterfeit Offences related to Counterfeit Coin                  838 non-null    int64
 47  Counterfeiting Government Stamp                                   838 non-null    int64
 48  Counterfeit currency & Bank notes                                 838 non-null    int64
 49  Counterfeiting currency notes/Bank notes                          838 non-null    int64
 50  Using forged or counterfeiting currency/Bank notes                838 non-null    int64
 51  Possession of forged or counterfeiting currency/Bank notes        838 non-null    int64
 52  Making or Possessing materials for forged currency/Bank notes     838 non-null    int64
 53  Making or Using documents resembling currency                     838 non-null    int64
 54  Arson                                                             838 non-null    int64
 55  Grievous Hurt                                                     838 non-null    int64
 56  Hurt                                                              838 non-null    int64
 57  Acid attack                                                       838 non-null    int64
 58  Attempt to Acid Attack                                            838 non-null    int64
 59  Dowry Deaths                                                      838 non-null    int64
 60  Assault on Women with intent to outrage her Modesty               838 non-null    int64
 61  Sexual Harassment                                                 838 non-null    int64
 62  Assault or use of criminal force to women with intent to Disrobe  838 non-null    int64
 63  Voyeurism                                                         838 non-null    int64
 64  Stalking                                                          838 non-null    int64
 65  Other Assault on Women                                            838 non-null    int64
 66  Insult to the Modesty of Women                                    838 non-null    int64
 67  At Office premises                                                838 non-null    int64
 68  Other places related to work                                      838 non-null    int64
 69  In Public Transport system                                        838 non-null    int64
 70  Places other than 231, 232 & 233                                  838 non-null    int64
 71  Cruelty by Husband or his Relatives                               838 non-null    int64
 72  Importation of Girls from Foreign Country                         838 non-null    int64
 73  Causing Death by Negligence                                       838 non-null    int64
 74  Deaths due to negligent driving/act                               838 non-null    int64
 75  Deaths due to Other Causes                                        838 non-null    int64
 76  Offences against State                                            838 non-null    int64
 77  Sedition                                                          838 non-null    int64
 78  Other offences against State                                      838 non-null    int64
 79  Offences promoting enmity between different groups                838 non-null    int64
 80  Promoting enmity between different groups                         838 non-null    int64
 81  Imputation, assertions prejudicial to national integration        838 non-null    int64
 82  Extortion                                                         838 non-null    int64
 83  Disclosure of Identity of Victims                                 838 non-null    int64
 84  Incidence of Rash Driving                                         838 non-null    int64
 85  HumanTrafficking                                                  838 non-null    int64
 86  Unnatural Offence                                                 838 non-null    int64
 87  Other IPC crimes                                                  838 non-null    int64
 88  Total Cognizable IPC crimes                                       838 non-null    int64
dtypes: int64(88), object(1)
memory usage: 582.8+ KB

'States/UTs' column is of object type so we will convert it into integer type using get_dummies function and then proceed with further steps.

In [8]:
columns=['States/UTs']
data1=data[columns]
dummies=pd.get_dummies(data1,columns=['States/UTs'])
dummies

,States/UTs_A&N Islands,States/UTs_Andhra Pradesh,States/UTs_Arunachal Pradesh,States/UTs_Assam,States/UTs_Bihar,States/UTs_Chandigarh,States/UTs_Chhattisgarh,States/UTs_D&N Haveli,States/UTs_Daman & Diu,States/UTs_Delhi UT,...,States/UTs_Puducherry,States/UTs_Punjab,States/UTs_Rajasthan,States/UTs_Sikkim,States/UTs_Tamil Nadu,States/UTs_Telangana,States/UTs_Tripura,States/UTs_Uttar Pradesh,States/UTs_Uttarakhand,States/UTs_West Bengal
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
#merging the int columns with our original dataset.
mergeddata= pd.concat([data,dummies],axis='columns')
mergeddata

,States/UTs,Murder,Attempt to commit Murder,Culpable Homicide not amounting to Murder,Attempt to commit Culpable Homicide,Rape,Custodial Rape,Custodial_Gang Rape,Custodial_Other Rape,Rape other than Custodial,...,States/UTs_Puducherry,States/UTs_Punjab,States/UTs_Rajasthan,States/UTs_Sikkim,States/UTs_Tamil Nadu,States/UTs_Telangana,States/UTs_Tripura,States/UTs_Uttar Pradesh,States/UTs_Uttarakhand,States/UTs_West Bengal
0,A&N Islands,5,10,2,1,19,0,0,0,19,...,0,0,0,0,0,0,0,0,0,0
1,A&N Islands,2,1,2,1,11,0,0,0,11,...,0,0,0,0,0,0,0,0,0,0
2,A&N Islands,1,0,0,0,2,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,A&N Islands,8,11,4,2,32,0,0,0,32,...,0,0,0,0,0,0,0,0,0,0
4,Andhra Pradesh,134,171,8,0,35,0,0,0,35,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833,West Bengal,23,11,0,0,7,0,0,0,7,...,0,0,0,0,0,0,0,0,0,1
834,West Bengal,8,2,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
835,West Bengal,46,49,7,0,72,0,0,0,72,...,0,0,0,0,0,0,0,0,0,1
836,West Bengal,90,346,10,0,187,0,0,0,187,...,0,0,0,0,0,0,0,0,0,1
837,West Bengal,2370,7355,359,525,3409,1,0,1,3408,...,0,0,0,0,0,0,0,0,0,1

In [10]:
#dropping States/UTs column to avoid issues later.
prepareddata=mergeddata.drop(['States/UTs'],axis='columns')
prepareddata

,Murder,Attempt to commit Murder,Culpable Homicide not amounting to Murder,Attempt to commit Culpable Homicide,Rape,Custodial Rape,Custodial_Gang Rape,Custodial_Other Rape,Rape other than Custodial,Rape_Gang Rape,...,States/UTs_Puducherry,States/UTs_Punjab,States/UTs_Rajasthan,States/UTs_Sikkim,States/UTs_Tamil Nadu,States/UTs_Telangana,States/UTs_Tripura,States/UTs_Uttar Pradesh,States/UTs_Uttarakhand,States/UTs_West Bengal
0,5,10,2,1,19,0,0,0,19,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,2,1,11,0,0,0,11,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,2,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,8,11,4,2,32,0,0,0,32,1,...,0,0,0,0,0,0,0,0,0,0
4,134,171,8,0,35,0,0,0,35,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833,23,11,0,0,7,0,0,0,7,1,...,0,0,0,0,0,0,0,0,0,1
834,8,2,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
835,46,49,7,0,72,0,0,0,72,0,...,0,0,0,0,0,0,0,0,0,1
836,90,346,10,0,187,0,0,0,187,15,...,0,0,0,0,0,0,0,0,0,1
837,2370,7355,359,525,3409,1,0,1,3408,184,...,0,0,0,0,0,0,0,0,0,1

In [11]:
prepareddata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Columns: 124 entries, Murder to States/UTs_West Bengal
dtypes: int64(88), uint8(36)
memory usage: 605.7 KB

In [12]:
prepareddata.columns

Index(['Murder', 'Attempt to commit Murder',
       'Culpable Homicide not amounting to Murder',
       'Attempt to commit Culpable Homicide', 'Rape', 'Custodial Rape',
       'Custodial_Gang Rape', 'Custodial_Other Rape',
       'Rape other than Custodial', 'Rape_Gang Rape',
       ...
       'States/UTs_Puducherry', 'States/UTs_Punjab', 'States/UTs_Rajasthan',
       'States/UTs_Sikkim', 'States/UTs_Tamil Nadu', 'States/UTs_Telangana',
       'States/UTs_Tripura', 'States/UTs_Uttar Pradesh',
       'States/UTs_Uttarakhand', 'States/UTs_West Bengal'],
      dtype='object', length=124)

### **Data Training**

In [17]:
# Import train_test_split from sklearn.model_selection
from sklearn.model_selection import train_test_split
# Here, X is the data which will have feature and y will have our target.
x=prepareddata.drop(['Total Cognizable IPC crimes'],axis='columns') 
y=prepareddata['Total Cognizable IPC crimes']

In [18]:
# Split data into training data and testing data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=100) 
#Ratio used for splitting training and testing data is 7:3 respectively

## **Model Creation**

Linear Regression

In [19]:
# Importing linear regression model
from sklearn.linear_model import LinearRegression 
reg1 = LinearRegression()

In [20]:
# Fitting data into the model.
reg1.fit(x_train, y_train)

LinearRegression()

In [21]:
# Making predictions 
pred1 = reg1.predict(x_test)

In [22]:

pred1

array([7.91000610e+03, 1.09952857e+01, 8.10000000e+01, 1.13200333e+03,
       9.48999005e+03, 4.59989084e+02, 2.43101277e+03, 9.87985141e+02,
       3.75199683e+03, 4.87001769e+03, 3.99998159e+02, 8.03000556e+02,
       1.02600517e+03, 1.59200498e+03, 3.61400780e+03, 6.70990553e+02,
       4.03605942e+04, 8.01000025e+02, 5.63998740e+03, 3.88998602e+02,
       7.92992309e+02, 6.71599593e+03, 2.89601134e+03, 2.33996966e+02,
       5.95998809e+02, 1.35699058e+03, 2.80698444e+03, 9.86014295e+02,
       1.94500100e+03, 1.22299827e+03, 2.70200450e+03, 9.01012867e+00,
       1.60699849e+03, 2.47096835e+03, 1.57999412e+03, 1.67026442e+02,
       2.03877886e-02, 2.93100979e+03, 7.99993718e+01, 2.69799303e+03,
       6.73997927e+02, 1.94798885e+03, 2.95001182e+03, 4.61200951e+03,
       9.86800574e+03, 9.19997557e+02, 1.25019305e+02, 3.77701848e+03,
       2.34200296e+03, 6.00900950e+03, 3.01394696e+03, 1.18500317e+03,
       5.43500189e+03, 1.26510080e+04, 2.24099877e+03, 4.92881905e+03,
       1.25039263e+04, 4.01000205e+02, 1.03340444e+04, 4.18401640e+03,
       2.33000196e+02, 8.55996834e+02, 4.31100418e+03, 3.18190929e+03,
       1.29579985e+04, 4.45012251e+02, 3.07400233e+03, 7.47897402e+03,
       8.53298397e+03, 7.52996798e+02, 3.35547377e+03, 2.78003147e+02,
       6.92900838e+03, 1.45305219e+03, 1.27420468e+04, 3.03900977e+03,
       5.11303124e+03, 6.57015946e+02, 2.48998956e+03, 1.14439714e+04,
       4.04898283e+03, 1.37338464e+05, 2.06699605e+03, 2.84296499e+03,
       1.14603867e+05, 9.43348962e+04, 2.34499233e+03, 8.25001143e+02,
       2.58199324e+03, 3.63500746e+03, 3.46499975e+03, 7.45693003e+04,
       1.84880224e+04, 1.21599572e+03, 4.00225023e+00, 1.60001619e+02,
       1.30000394e+03, 1.15699365e+03, 1.69499413e+03, 9.38000373e+02,
       4.98401304e+03, 1.98002517e+02, 4.69600664e+03, 2.55601778e+03,
       2.63402373e+03, 3.92298911e+03, 2.40002208e+02, 1.42496343e+03,
       1.86420205e+04, 4.72992367e+02, 1.33298544e+03, 7.76991117e+02,
       5.79802837e+03, 2.78901939e+03, 5.45298486e+03, 3.62991364e+02,
       2.82600860e+03, 1.31300635e+03, 4.53701763e+03, 8.93199231e+03,
       5.52896860e+03, 1.13200164e+04, 1.31384425e+05, 1.11000532e+03,
       1.17099827e+03, 6.93101469e+03, 4.86999068e+03, 1.65499872e+03,
       1.19898682e+03, 4.56398352e+03, 1.72998205e+03, 9.90902778e+03,
       4.39702190e+03, 4.40700241e+03, 2.57901827e+03, 3.48400612e+03,
       2.95201019e+03, 3.54600549e+03, 2.77002234e+02, 2.72101837e+03,
       3.45801497e+03, 3.07196466e+03, 1.80570636e+04, 1.61010292e+02,
       6.37000665e+02, 9.00999443e+02, 2.26900039e+03, 2.39919691e+04,
       9.81020553e+02, 1.59401793e+03, 6.68592515e-03, 3.17402330e+03,
       3.39100388e+03, 8.53068201e+02, 4.77500023e+03, 3.87997721e+02,
       1.16100271e+03, 6.64017326e+02, 7.00204332e+01, 2.82501220e+03,
       7.83018835e+02, 5.66399346e+03, 1.57299832e+03, 7.10012040e+02,
       4.52300646e+03, 1.03589771e+04, 1.47599805e+03, 3.18902990e+03,
       4.66299033e+03, 1.73199941e+03, 7.99468981e+04, 2.77002234e+02,
       2.30901216e+03, 4.59999129e+02, 1.17198860e+03, 1.10220013e+04,
       2.38010911e+02, 2.63006917e+02, 1.08099316e+03, 4.60400805e+03,
       2.15100651e+03, 8.50066079e+01, 7.27001471e+02, 7.45101075e+03,
       1.51066662e+04, 3.57600537e+03, 1.17898150e+04, 6.67797937e+03,
       3.41500157e+03, 5.47801131e+03, 4.23701939e+03, 8.39803628e+03,
       6.33704285e+03, 1.19896519e+03, 1.95700311e+03, 5.19702374e+03,
       2.24898853e+03, 6.23503299e+03, 2.83018399e+02, 1.70898942e+03,
       2.42104317e+03, 2.81000498e+02, 2.90008261e+01, 8.01744101e+00,
       4.22200465e+03, 3.19086852e+02, 6.58698237e+03, 8.79300155e+03,
       4.21003868e+02, 2.26697643e+03, 7.67400316e+03, 4.33299403e+03,
       6.03599027e+03, 2.93202176e+03, 1.34401032e+03, 5.01302277e+03,
       1.22001907e+02, 2.66678769e+04, 2.91598423e+03, 5.58604140e+03,
       1.30700467e+03, 2.50502019e+03, 1.98039721e+04, 3.34898971e+03,
       9.80074539e+01, 5.82002835e+02, 1.52199910e+03, 8.08704280e+03,
       3.50007213e+01, 9.80074142e+01, 3.00801492e+03, 9.37273404e+03,
       4.23592742e+03, 5.36797878e+03, 2.02098542e+03, 4.53001078e+02,
       4.12799753e+03, 4.24900438e+03, 3.33797775e+03, 1.39991258e+01,
       2.57799751e+03, 5.11993621e+02, 3.73201945e+03, 2.28999830e+02,
       4.00019479e+01, 4.04099383e+03, 2.58099268e+03, 5.31965785e+02,
       1.87995606e+02, 4.19011880e+02, 5.58401119e+03, 8.21200568e+03])

In [23]:
print("Accuracy of the Linear Regression model is: \n ") 
print(reg1.score(x_train,y_train))

Accuracy of the Linear Regression model is:

0.9999999999967659

**Lasso Regression**

In [24]:
# Importing model
from sklearn.linear_model import Lasso
reg2 = Lasso()

In [25]:
# Fitting data into the model.
reg2.fit(x_train, y_train)

Lasso()

In [26]:
# Making predictions 
pred2 = reg2.predict(x_test)

In [27]:
pred2

array([ 7.65175858e+03, -1.66282414e+02,  2.02557052e+02,  1.35930820e+03,
        9.93009388e+03,  5.50621793e+02,  2.18363120e+03,  1.02076431e+03,
        3.80910832e+03,  4.42900577e+03,  3.72573184e+02,  7.88285652e+02,
        1.22284638e+03,  1.52617466e+03,  3.47232918e+03,  6.40248688e+02,
        4.03657230e+04,  8.82779546e+02,  6.09209817e+03,  3.86197991e+02,
        8.10416673e+02,  9.19034040e+03,  2.90079446e+03,  2.60671317e+02,
        3.69046779e+02,  1.19555890e+03,  2.94222186e+03,  9.94663725e+02,
        1.90824007e+03,  1.63761301e+03,  2.56294225e+03, -7.45344879e+00,
        1.53420662e+03,  2.14967485e+03,  9.91320306e+02,  2.19079694e+00,
        2.27820382e+00,  2.84568429e+03,  1.21726119e+02,  2.64063176e+03,
        4.02348627e+02,  2.37813057e+03,  2.27432248e+03,  4.26538821e+03,
        1.00104228e+04,  1.02680479e+03,  1.82923765e+02,  3.81949569e+03,
        2.15687160e+03,  5.67418804e+03,  2.65413232e+03,  1.28620094e+03,
        4.90548625e+03,  1.28110311e+04,  2.24746794e+03,  5.41691259e+03,
        1.27057681e+04,  4.34416249e+02,  1.08659354e+04,  4.13070157e+03,
        2.27568855e+02,  7.70923207e+02,  3.75211326e+03,  2.83860082e+03,
        1.29242674e+04,  4.96804302e+02,  2.99356571e+03,  8.03475798e+03,
        8.65761405e+03,  8.27348786e+02,  9.84865165e+03,  3.79296610e+02,
        6.58302404e+03,  1.16333558e+03,  1.36591702e+04,  3.22647777e+03,
        5.10526861e+03,  7.77947635e+02,  2.54160773e+03,  1.11128380e+04,
        4.01796453e+03,  1.34302495e+05,  2.32030619e+03,  3.11427254e+03,
        1.10066231e+05,  9.92917659e+04,  1.84442474e+03,  8.47706911e+02,
        2.51641028e+03,  3.64950082e+03,  3.10158764e+03,  7.06839096e+04,
        1.85979694e+04,  1.00643274e+03,  8.42139108e+00,  2.29159132e+02,
        1.36251588e+03,  5.96913118e+02,  1.81880653e+03,  8.68391935e+02,
        4.83213686e+03,  1.86475566e+02,  4.67221720e+03,  2.81884750e+03,
        2.68965059e+03,  3.62360294e+03,  1.32587812e+02,  1.46650933e+03,
        1.83471450e+04,  8.51351517e+02,  9.95017672e+02,  9.02560869e+02,
        5.80771200e+03,  3.10773305e+03,  5.71135648e+03,  4.33672669e+02,
        2.83650141e+03,  1.41663812e+03,  5.09750357e+03,  9.67953363e+03,
        5.33214308e+03,  1.19420781e+04,  1.28789107e+05,  1.22403329e+03,
        1.02673831e+03,  6.71688438e+03,  5.31312133e+03,  1.49767559e+03,
        1.36438470e+03,  4.47006792e+03,  1.84067422e+03,  9.94435242e+03,
        4.61658573e+03,  4.49713644e+03,  2.11765928e+03,  3.73591170e+03,
        2.67200930e+03,  3.39161576e+03,  2.40813510e+02,  2.89341834e+03,
        3.36630900e+03,  3.39430801e+03,  1.62734384e+04,  5.75325045e+01,
        7.89060663e+02,  8.73380187e+02,  2.25820377e+03,  2.58072078e+04,
        1.17473256e+03,  1.80690865e+03,  2.27820382e+00,  2.88962567e+03,
        3.60705735e+03,  4.34865194e+02,  3.21644428e+03,  2.60575279e+02,
        1.12375741e+03,  6.77056149e+02,  8.06000133e+01,  2.56260749e+03,
        7.13351436e+02,  6.01641416e+03,  1.56875102e+03,  6.96484934e+02,
        4.07706124e+03,  1.11102121e+04,  1.51997943e+03,  3.50480448e+03,
        4.69796011e+03,  1.49128648e+03,  7.88976094e+04,  2.40813510e+02,
        2.11583314e+03,  4.56031931e+02,  1.01510010e+03,  1.11521271e+04,
        2.70719354e+02,  9.70375703e+01,  1.37771495e+03,  4.36466705e+03,
        2.30910679e+03,  9.02882383e+01,  9.64332517e+02,  7.92905515e+03,
        1.43319980e+04,  3.66349181e+03,  1.09241466e+04,  7.79320207e+03,
        3.51076327e+03,  6.03761936e+03,  4.19969768e+03,  7.82595223e+03,
        6.52778888e+03,  1.18871344e+03,  2.10744033e+03,  5.24054556e+03,
        2.95773524e+03,  6.31856884e+03,  3.20173229e+02,  1.05919992e+03,
        1.68533992e+03,  2.15231643e+02,  4.48686300e+01,  8.69229525e+01,
        3.33577636e+03,  6.38460547e+01,  6.41808319e+03,  8.84166282e+03,
        4.88581588e+01,  2.32636371e+03,  7.05594681e+03,  4.46947185e+03,
        5.85363968e+03,  2.71118199e+03,  1.35211974e+03,  4.67149833e+03,
        1.78199873e+02,  2.53071677e+04,  2.61246365e+03,  6.67542158e+03,
        1.40171520e+03,  2.08532546e+03,  2.02905371e+04,  3.82088531e+03,
       -1.32257829e+01,  4.09376535e+02,  1.54260895e+03,  7.07876022e+03,
        2.65370618e+01, -3.38770064e+01,  3.23100435e+03, -3.18797146e+03,
        4.07858426e+03,  6.23846998e+03,  1.97601057e+03,  3.94086900e+02,
        4.70895159e+03,  4.49293868e+03,  3.09717502e+03,  9.43521308e+00,
        2.39881778e+03,  1.89357436e+02,  3.19844550e+03,  3.61570246e+02,
        3.20110374e+01,  4.30838424e+03,  2.61681830e+03,  6.90192548e+02,
        1.81093650e+02,  2.55425542e+02,  5.61202226e+03,  1.31514445e+04])

In [28]:
print("Accuracy of the Lasso Regression model is: \n ") 
print(reg2.score(x_train,y_train))

Accuracy of the Lasso Regression model is:

0.9999060571652227

Ridge Regression

In [29]:
# Importing model
from sklearn.linear_model import Ridge
reg3 = Ridge()

In [30]:
# Fitting data into the model.
reg3.fit(x_train, y_train)

Ridge()

In [31]:
# Making predictions 
pred3 = reg3.predict(x_test)

In [32]:
pred3

array([7.91000018e+03, 1.09857063e+01, 8.10000788e+01, 1.13200400e+03,
       9.49001908e+03, 4.59991742e+02, 2.43101040e+03, 9.87987778e+02,
       3.75199581e+03, 4.87001228e+03, 3.99997280e+02, 8.02989222e+02,
       1.02600992e+03, 1.59201816e+03, 3.61400256e+03, 6.71002778e+02,
       4.03606045e+04, 8.00994836e+02, 5.64000464e+03, 3.89000013e+02,
       7.92994434e+02, 6.71603501e+03, 2.89600903e+03, 2.33995657e+02,
       5.95990463e+02, 1.35698901e+03, 2.80698400e+03, 9.86016724e+02,
       1.94500029e+03, 1.22299432e+03, 2.70200364e+03, 9.00901311e+00,
       1.60699913e+03, 2.47096518e+03, 1.57998473e+03, 1.67021067e+02,
       1.78982912e-02, 2.93101880e+03, 7.99994066e+01, 2.69799270e+03,
       6.73994693e+02, 1.94799497e+03, 2.94996469e+03, 4.61200720e+03,
       9.86801624e+03, 9.19998784e+02, 1.25015250e+02, 3.77700328e+03,
       2.34200381e+03, 6.00900427e+03, 3.01392133e+03, 1.18500074e+03,
       5.43499949e+03, 1.26510098e+04, 2.24099859e+03, 4.92883968e+03,
       1.25039141e+04, 4.01001504e+02, 1.03340630e+04, 4.18401566e+03,
       2.33001433e+02, 8.55993048e+02, 4.31099831e+03, 3.18175610e+03,
       1.29579982e+04, 4.44999754e+02, 3.07400381e+03, 7.47898879e+03,
       8.53298210e+03, 7.52998705e+02, 3.35561845e+03, 2.78007731e+02,
       6.92901604e+03, 1.45305682e+03, 1.27420464e+04, 3.03903001e+03,
       5.11302066e+03, 6.57014696e+02, 2.48999060e+03, 1.14439688e+04,
       4.04898248e+03, 1.37338542e+05, 2.06700018e+03, 2.84297516e+03,
       1.14604008e+05, 9.43347972e+04, 2.34497393e+03, 8.25000269e+02,
       2.58198629e+03, 3.63501778e+03, 3.46497743e+03, 7.45691356e+04,
       1.84880180e+04, 1.21598263e+03, 4.00158632e+00, 1.59999469e+02,
       1.30000606e+03, 1.15700191e+03, 1.69499904e+03, 9.37998981e+02,
       4.98401285e+03, 1.98003555e+02, 4.69600600e+03, 2.55602674e+03,
       2.63403062e+03, 3.92299346e+03, 2.39983257e+02, 1.42493964e+03,
       1.86420429e+04, 4.72997556e+02, 1.33298937e+03, 7.76993827e+02,
       5.79802766e+03, 2.78903504e+03, 5.45298434e+03, 3.63001698e+02,
       2.82600683e+03, 1.31300885e+03, 4.53701929e+03, 8.93203304e+03,
       5.52895844e+03, 1.13200280e+04, 1.31384553e+05, 1.11000724e+03,
       1.17099461e+03, 6.93101804e+03, 4.87001008e+03, 1.65500171e+03,
       1.19898513e+03, 4.56398487e+03, 1.72998141e+03, 9.90903803e+03,
       4.39703268e+03, 4.40701367e+03, 2.57901983e+03, 3.48398124e+03,
       2.95200294e+03, 3.54600268e+03, 2.77000368e+02, 2.72103422e+03,
       3.45801691e+03, 3.07196783e+03, 1.80570800e+04, 1.61014107e+02,
       6.37000476e+02, 9.01003279e+02, 2.26900470e+03, 2.39919940e+04,
       9.81005516e+02, 1.59401178e+03, 8.38884400e-03, 3.17401597e+03,
       3.39099714e+03, 8.53064771e+02, 4.77498607e+03, 3.87994563e+02,
       1.16099768e+03, 6.64017089e+02, 7.00176716e+01, 2.82500455e+03,
       7.83017411e+02, 5.66400307e+03, 1.57299797e+03, 7.10018543e+02,
       4.52300898e+03, 1.03589959e+04, 1.47599003e+03, 3.18904486e+03,
       4.66299287e+03, 1.73199683e+03, 7.99469126e+04, 2.77000368e+02,
       2.30901324e+03, 4.60001574e+02, 1.17198270e+03, 1.10220191e+04,
       2.38008170e+02, 2.63004296e+02, 1.08099275e+03, 4.60400494e+03,
       2.15101470e+03, 8.50076908e+01, 7.27011438e+02, 7.45104138e+03,
       1.51066718e+04, 3.57600939e+03, 1.17897244e+04, 6.67799005e+03,
       3.41500312e+03, 5.47801557e+03, 4.23702901e+03, 8.39802867e+03,
       6.33706766e+03, 1.19895445e+03, 1.95700587e+03, 5.19701457e+03,
       2.24898411e+03, 6.23504205e+03, 2.83018539e+02, 1.70897804e+03,
       2.42100889e+03, 2.81004122e+02, 2.90000718e+01, 8.01557670e+00,
       4.22197434e+03, 3.19088131e+02, 6.58699730e+03, 8.79301373e+03,
       4.21014964e+02, 2.26697345e+03, 7.67399495e+03, 4.33300610e+03,
       6.03598892e+03, 2.93202093e+03, 1.34401863e+03, 5.01302391e+03,
       1.22004021e+02, 2.66674842e+04, 2.91598204e+03, 5.58603304e+03,
       1.30700290e+03, 2.50501861e+03, 1.98039627e+04, 3.34898943e+03,
       9.80064637e+01, 5.82004045e+02, 1.52199472e+03, 8.08703102e+03,
       3.50021534e+01, 9.80061058e+01, 3.00803157e+03, 9.37219656e+03,
       4.23591607e+03, 5.36800021e+03, 2.02098019e+03, 4.53001273e+02,
       4.12799913e+03, 4.24901357e+03, 3.33797440e+03, 1.39991368e+01,
       2.57799067e+03, 5.11997872e+02, 3.73201538e+03, 2.28999121e+02,
       4.00010982e+01, 4.04099033e+03, 2.58098796e+03, 5.31969613e+02,
       1.88001604e+02, 4.19019243e+02, 5.58400693e+03, 8.21195110e+03])

In [33]:
print("Accuracy of the Ridge Regression model is: \n ") 
print(reg3.score(x_train,y_train))

Accuracy of the Ridge Regression model is:

0.9999999999963987

Perfromance Evaluation

In [34]:
import numpy as np
from sklearn.metrics import mean_squared_error
print("Model\t\t\t          RootMeanSquareError  \t\t    Accuracy of the model") 
print("""Linear Regression       \t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred1)), reg1.score(x_train,y_train)))
print("""Lasso Regression        \t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred2)), reg2.score(x_train,y_train)))
print("""Ridge Regression        \t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred3)), reg3.score(x_train,y_train)))

Model			          RootMeanSquareError  		    Accuracy of the model
Linear Regression       		 0.1522 	 		 1.0000
Lasso Regression        		 1164.1556 	 		 0.9999
Ridge Regression        		 0.1692 	 		 1.0000